@import 'tailwindcss';

:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  font-family:
    system-ui,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}